* {
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.border{
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.white{
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: -8px -8px 8px gray, 8px 8px 8px gray;
    

}
.center{
    width: 220px;
    height: 220px;
   
}

.white1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
   
}
.red{
    width: 100px;
    height: 100px;
    background-color: rgb(241, 112, 103);
    position: absolute;
}

.white1:hover .red1{
    left: 0;
    top: 0;
}

.white1:hover .red2{
    right: 0;
    top: 0;
}

.white1:hover .red3{
    right: 0;
    bottom: 0;
}

.white1:hover .red4{
    left: 0;
    bottom: 0;
}