@media only screen and (min-width: 1024px) {
  .pics img {
    max-width: 15%;
    height: 30vh;
    border-radius: 20px;
    object-fit: cover;
  }
  .card img {
    max-width: 40%;
    height: 30vh;
    border-radius: 20px;
    object-fit: cover;
  }
  .aside{
    max-width: 20%;
  }
  .right-side {
    max-width: 55%;
  }
  .cards{
    max-width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pics img {
    width: 30%;
    height: auto;
    border-radius: 20px;
  }
  .card img{
    max-width: 35%;
    height: 30vh;
    border-radius: 20px;
    object-fit: cover;
  }
  .aside{
    max-width: 90%;
    margin-top: 50px;
  }
  .cards{
    max-width: 95%;
  }
  .right-side{
    max-width: 60%;
  }
}

@media only screen  and (max-width: 767px) {
  .pics img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .cards{
    max-width: 100%;
  }
  .card img{
    max-width: 35%;
    border-radius: 20px;
    object-fit: cover;
  }
  .aside{
    max-width: 90%;
    margin-top: 50px;
  }
  .right-side{
    max-width: 60%;
  }
}

.pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin-bottom: 60px;
}
.cards {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.card {
  display: flex;
  justify-content: space-between;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.aside {
  background-color: rgb(196, 201, 205);
  border-radius: 20px;
  padding: 20px 20px 0 20px;

}
.right-side {
  justify-content: center;
  display: flex;
  flex-direction: column;
  

}
