.blue {
  width: 80px;
  height: 80px;
  background-color: blue;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
.green {
  width: 80px;
  height: 80px;
  background-color: green;
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.green:hover {
  width: 100%;
  transition-property: all;
  transition-delay: 0.5s;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.blue:active {
  width: 100%;
  color: blue;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
