* {
    box-sizing: border-box;
}
@media screen and (min-width:600px) {
    .page{
        max-width: 95%;
    }
    .card{
        max-width: 30%;
    }
    .page-top-text{
        max-width: 95%;
    }
    .page-bottom{
        max-width: 25%;
    }
    .cards{
        max-width: 95%;
    }
}
@media screen and (max-width:599px) {
    header li{
        max-width: 100%;
    }
    .card{
        max-width: 90%;
        margin: auto;
    }
    .page-top-text{
        max-width: 95%;
        margin: auto;
    }
    .page-bottom{
        max-width: 95%;
        margin: auto;
        margin-top: 20px;
    }
    .page{
        flex-wrap: wrap;
    }
    ul{
        display: block;
    }
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid black;
    background-color: rgb(61, 60, 60);
    color: white;
    padding: 0 20px 0 20px;
}
header a{
    text-decoration: none;
    color: white;
}
header li{
    list-style: none;
}
ul{
    
    display: flex;
    justify-content: space-between;
}
.page{
    display: flex;
   /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    
}
.card{
    border: 4px solid black;
    height: 30vh;
}
.card h3{
    color: white;
    margin: 0;
    padding: 20px 0 0 20px;
}
.card div{
    background-color: rgb(61, 60, 60);
    height: 10vh;
    
}
header nav{
    width: 20%;
}
.card p{
    padding: 0 20px 0 20px;
}
.page-bottom{
    border: 4px solid black;
    background-color: rgb(61, 60, 60);
}
.page-bottom p{
    color: white;
    margin: 20px 20px 0 20px;
}